{% extends "master.html.twig" %}

{% block content %}
  <div class="successMsgDiv">
    <h4>You have successfully place the bid</h4>               
    <a href="listitems" class="btnDefault">Click here to continue</a>
    
  </div>
{% endblock content %}